.inputs-gallery {

  &:hover {
    .elements-previews__list, .elements-previews__not-found {
      background-color: rgba($color_main, 0.25);
      transition: all 0.25s;
    }
  }
}

.inputs-gallery__reload {
  display: none;
}