.cells-inputs-media {
  margin: 15px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.cells-inputs-media__label {
  display: block;
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 5px;
  color: #34495e;
}

.cells-inputs-media__help {
  display: block;
  font-size: 0.6em;
  font-weight: 700;
  margin-top: 5px;
  color: lighten(#34495e, 50);
}

.cells-inputs-media__content {

}

.cells-inputs-media__media-modal {

}

.cells_inputs-media__media-index {

}

.cells_inputs-media__media-single {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border: solid 2px #ecf0f1;
  cursor: pointer;
}

.cells_inputs-media__media-single--active {
  border-color: #34495e;
}