.cells-inputs-media {
  margin: 15px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.cells-inputs-media__label {
  display: block;
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 5px;
  color: #34495e;
}

.cells-inputs-media__help {
  display: block;
  font-size: 0.6em;
  font-weight: 700;
  margin-top: 5px;
  color: lighten(#34495e, 50);
}

.cells-inputs-media__content {

}

.cells-inputs-media__media-modal {

}

.cells-inputs-media__media-index {
  margin-bottom: 40px;
}

.cells-inputs-media__media-single {
  height: 200px;
  position: relative;
  overflow: hidden;
  border: solid 2px #ecf0f1;
  cursor: pointer;
  transition: all 0.25s;
}

.cells-inputs-media__media-single-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ecf0f1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cells-inputs-media__media-single-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 50px;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cells-inputs-media__media-single--active {
  border-color: #34495e;
}

.cells-inputs-media__media-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 5px 15px;
}