<div class="cells-inputs-general__dropzone-modal">
    <div class="cells-inputs-general__dropzone">
        <%=raw LatoCore::Inputs::Dropzone::Cell.new(url: 'pippo', max_size: CONFIGS[:lato_media][:max_media_accepted_size],
        label: LANGUAGES[:lato_media][:mixed][:load_media_files]) %>
    </div>

    <br>
    <div class="text-right">
        <%=raw LatoCore::Elements::Button::Cell.new(label: LANGUAGES[:lato_media][:mixed][:confirm], icon: 'check',
        url: '#', style: 'success', remote: true) %>
    </div>
</div>