<div class="medias__medias-index">

  <div class="row">
    <% @medias.each do |media| %>

      <%=raw cell('LatoMedia', :elements, :preview).new(media: media, url: lato_media.media_path(media.id), class: 'md-3') %>

    <% end %>
  </div>

  <br>
  <%=raw cell(:elements, :pagination).new(total: @pagination_total, current: @pagination_current, url: lato_media.medias_path, param: 'page') %>
  
</div>