<a
  class="medias__media <%= sizes %> medias__media--clickable"
  <% if clickable %>
    href="<%= lato_media.media_path(media.id) %>"
  <% end %>
>
  <% if media.image? %>
    <div class="medias__media-background" style="background-image: url(<%= media.attachment.url(:medium) %>)"></div>
  <% end %>

  <div class="medias__media-title">
    <%= media.title %>
  </div>
</a>