<a class="medias__media <%= sizes %>" href="<%= lato_media.media_path(media.id) %>">
  <div class="medias__media-background" style="background-image: url(<%= media.attachment.url %>)"></div>

  <div class="medias__media-title">
    <%= media.attachment_file_name %>
  </div>
</a>