<div class="medias__media md-3">
  <div class="medias__media-background" style="background-image: url(<%= media.attachment.url %>)">

    <div class="medias__media-title">
      <%= media.attachment_file_name %>
    </div>

  </div>
</div>