<div class="partials__media-selector-index">

  <div class="partials__media-selector-index-list row">
    <% @medias.each do |media| %>
      <%=raw LatoMedia::Elements::Preview::Cell.new(media: media, class: 'xs-6 sm-4 md-3 lg-3') %>
    <% end %>
  </div>

  <% if @pagination_total > 1 %>

    <div class="partials__media-selector-index-pagination">
      <%=raw LatoCore::Elements::Pagination::Cell.new(total: @pagination_total, remote: true,
      url: lato_media.media_selector_load_index_path, current: @page) %>
    </div>

  <% end %>

</div>