<div class="partials__media-selector-modal">

  <div class="partials__media-selector-index-container"></div>

  <div class="partials__media-selector-buttons">
    <%=raw LatoCore::Elements::Button::Cell.new(url: '#', label: LANGUAGES[:lato_media][:mixed][:confirm],
    style: 'success', icon: 'check', onclick: "MediaSelector.close('#{@id}', event);") %>
  </div>

</div>