<div
  class="elements-preview__container elements-preview__not-found"
  <% if @args[:height] %>
    style="height: <%= @args[:height] %>px; padding-bottom : 0;"
  <% end %>
>
  <div class="elements-preview__icon-container">
    <div class="elements-preview__icon">
      <i class="fa fa-<%= @icon %>" aria-hidden="true"></i>
    </div>
  </div>

  <div class="elements-preview__label"><%= @args[:media].title %></div>
</div>