<div
  class="elements-preview__container elements-preview__not-found"
  <% if @args[:height] %>
    style="height: <%= @args[:height] %>px; padding-bottom : 0;"
  <% end %>
>
  <div class="elements-preview__icon">
    <i class="fa fa-ban" aria-hidden="true"></i>
  </div>

  <div class="elements-preview__label"><%= LANGUAGES[:lato_media][:mixed][:file_not_present] %></div>
</div>