<div class="media-elements-preview__container media-elements-preview__not-found" style="height: <%= @args[:height] %>px">
  <div class="media-elements-preview__icon">
    <i class="fa fa-ban" aria-hidden="true"></i>
  </div>

  <div class="media-elements-preview__label"><%= LANGUAGES[:lato_media][:mixed][:file_not_present] %></div>
</div>