<div class="media-elements-preview <%= @args[:class] %>">

  <% if @is_empty %>
    <%= render './not_found.html' %>
  <% else %>
    <% if @is_image %>
      <%= render './image.html' %>
    <% else %>
      <%= render './general.html' %>
    <% end %>
  <% end %>

</div>